// Couleurs principales
$primary: #9747ff;
$primary-50: rgba($primary, 0.5);
$secondary: #6a1bda;

//background Color
$background-gradient: no-repeat linear-gradient(#68509c, #f5f5f5);
$background-gray: #dedede;
$background-main: #32398e;

//input Colors
$input-color: #e0dede;

//Texte Colors
$black: #000000;
$black-58: rgba($black, 0.58);
// $gray: #f6e8e8;
$white: #ffffff;
$darker-white: #fffdfd;

//Etat Colors
$error: #ff0000;
